/**
 * HelpMenu Component Styles
 * Co-located with HelpMenu.jsx
 */

.sf-help-menu {
  &__button {
    padding: 0 0.75rem; // px-3
    height: 2.25rem; // h-9
  }

  &__icon {
    fill: none;
    width: 1.25rem; // w-5
    height: 1.25rem; // h-5
  }
}
